<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Test</title>
</head>
<body>
<form action="{% url 'possiblebug:test' %}" method="post">
    {% csrf_token %}
    {{ authorForm.as_p}}
    {{ publisherForm.as_p }}
    <input type="submit" value="Add">
    </form>


<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
{{authorForm.media}}
</body>
</html>